<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" name="account_firstname" id="firstName" required placeholder="Enter your First Name"/>
  <label for="lastName">Last Name:</label>
  <input type="text" name="account_lastname" id="lastName" required placeholder="Enter your Last Name"/>
  <label for="email">Email:</label>
  <input type="email" name="account_email" id="email" required placeholder="Enter a Valid Email Address"/>
  <label for="password">Password:</label>
  <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
  <input type="password" name="account_password" id="pword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="Enter a Valid Password"/>
  <span id="pswdBtn">Show Password</span>
  <button type="submit">REGISTER</button>
</form>
