<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <%if (locals.loggedin) {%>
  <a title="Access Your Account" href="/account/"
    >Welcome <%- locals.accountData.account_firstname %></a
  >
  <a id="logout" title="Click to logout" href="/account/logout">Logout</a>
  <%} else {%>
  <a title="Click to login" href="/account/login">My Account</a>
  <%}%>
</header>
